@import "~fomantic-ui-css/semantic.min.css";

h1,
h2,
h3,
h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// html {
//   width: 100%;
//   max-width: 100vw;
// }

@media screen and (max-width: 768px) {
  .ui.grid {
    // width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    // text-align: center;
  }
}